- @metrics.each do |metric_name, host_measurement_list|
  %section.panel.radius
    %h3= metric_name_label(metric_name)
    %hr
    %h5.subheader
      = "Monitoring period #{@monitoring_period_start} - #{@monitoring_period_end}"
    %h5.subheader
      = "Time resolution #{time_resolution_label(@time_resolution)}"
    .container{id: metric_name}

  = content_for :javascript do
    :javascript
      $(document).ready(function() {
        var chart = new window.MonitoringChart("#{metric_name}",
                                               "#{@monitoring_period_start}",
                                               "#{@monitoring_period_end}", "#{@time_resolution}");

        chart.createChart("#{metric_name_label(metric_name)}", #{host_measurement_list.to_json});
        chart.startUpdating("#{monitoring_monitoring_data_path}", #{host_measurement_list.map{|x| x[:name]}.to_json});
      });