%div(ng-controller="PlatformCtrl")
  #worker-nodes(style="display: none;")= @worker_nodes.to_json
  #managers(style="display: none;")= @managers.to_json

  %section.panel.radius
    %h3
      = t('platform.worker_nodes.header')
    %ul.no-bullet
      %li(ng-repeat="node in worker_nodes")
        = t('platform.worker_nodes.url')
        {{ node.url }}
        \---
        = t('platform.worker_nodes.user')
        {{ node.user }}
        \---
        %span.button.small(ng-click="removeWorkerNode(node.id)")
          = t('platform.worker_nodes.deregister')

    %hr
      = form_tag('', {'ng-submit' => 'addWorkerNode()'}) do
        .row
          .small-2.columns
            %label
              = t('platform.worker_nodes.url')
          .small-5.columns
            %input.medium(type="text" ng-model="newNodeUrl")
          .small-5.columns
        .row
          .small-2.columns
            %label
              = t('platform.worker_nodes.user')
          .small-5.columns
            %input.medium(type="text" ng-model="newNodeUser" )
          .small-5.columns
        .row
          .small-2.columns
            %label
              = t('platform.worker_nodes.password')
          .small-5.columns
            %input.medium(type="password" ng-model="newNodePassword")
          .small-5.columns
        .row
          .small-4.small-offset-2.columns
            %input.button(type="submit")



  %section.panel.radius(ng-repeat="(manager_type, manager_list) in managers")
    %h3
      {{ manager_type }}
    %ul.no-bullet
      %li(ng-repeat="manager in manager_list")
        = t('platform.worker_nodes.url')
        {{ manager.url }}
        %button(ng-click="destroyManager(manager)")= t('platform.managers.destroy')

    %hr
    .alert-box.radius.success(data-alert="" ng-show="false")
      AAA
    .alert-box.radius.alert(data-alert="" ng-show="hasError('deploy_' + manager_type)")
      {{ errorMap['deploy_' + manager_type] }}
      %a.close(href="#") &times;
    .row
      .small-4.columns(style="padding: 7px;")
        %select(ng-model="nodeToDeploy" ng-options="node.url for node in worker_nodes" )
      .small-3.columns
        %button(ng-click="deployManager(manager_type, nodeToDeploy)")
          = t('platform.managers.deploy_at')
      .small-5.columns


  %article(style="text-align: center;")
    %button.button(ng-click="synchronize()")
      = t('platform.worker_nodes.synchronize')
