%div(ng-controller="PlatformCtrl")

  %section.panel.radius
    %h3
      = t('platform.worker_nodes.header')
    %hr

    .row
      %ul.no-bullet
        %li(ng-repeat="node in worker_nodes")
          .row
            .large-4.columns
              {{ node.user }}@{{ node.url }}
            .large-8.columns
              %span.button.radius.tiny(ng-click="removeWorkerNode(node.id)")
                = t('platform.worker_nodes.deregister')

    %hr
      = form_tag('', {'ng-submit' => 'addWorkerNode()'}) do
        .row
          .small-2.columns
            %label
              = t('platform.worker_nodes.url')
          .small-5.columns
            %input.medium(type="text" ng-model="newNodeUrl")
          .small-5.columns
        .row
          .small-2.columns
            %label
              = t('platform.worker_nodes.user')
          .small-5.columns
            %input.medium(type="text" ng-model="newNodeUser" )
          .small-5.columns
        .row
          .small-2.columns
            %label
              = t('platform.worker_nodes.password')
          .small-5.columns
            %input.medium(type="password" ng-model="newNodePassword")
          .small-5.columns
        .row
          .small-4.small-offset-2.columns
            = submit_tag t('register_key_title'), class: 'button radius small'



  %section.panel.radius(ng-repeat="(manager_type, manager_list) in managers")
    %h3
      {{ manager_labels[manager_type] }}
    %hr
    %ul.no-bullet
      %li(ng-repeat="manager in manager_list")
        %b= t('platform.worker_nodes.url') + ':'
        {{ manager.url }}
        %button.tiny.radius(ng-click="destroyManager(manager)")= t('platform.managers.destroy')

    %hr
    .alert-box.radius.success(data-alert="" ng-show="false")
      AAA
    .alert-box.radius.alert(data-alert="" ng-show="hasError('deploy_' + manager_type)")
      {{ errorMap['deploy_' + manager_type] }}
      %a.close(href="#") &times;
    .row
      .small-4.columns
        %select(ng-model="nodeToDeploy" ng-options="node.url for node in worker_nodes" )
      .small-3.columns
        %button.radius.small(ng-click="deployManager(manager_type, nodeToDeploy)")
          = t('platform.managers.deploy_at')
      .small-5.columns
        .loading(ng-show="loading_{{ manager_type }}")
          = image_tag('loading.gif')


  %article(style="text-align: center;")
    %button.button.radius(ng-click="synchronize()")
      = t('platform.worker_nodes.synchronize')
