%div(ng-controller="PlatformCtrl")

  %section.panel.radius
    %h3
      = t('platform.worker_nodes.header')
    %hr

    .row
      %ul.no-bullet
        %li(ng-repeat="node in worker_nodes")
          .row
            .small-4.columns
              %p
                {{ node.user }}@{{ node.url }}
            .small-8.columns
              %span.button.radius.tiny.left(ng-click="removeWorkerNode(node.id)")
                = t('platform.worker_nodes.deregister')

    %hr
    = render 'worker_node_register_form'

  = render 'manager_panels'

  %section(style="text-align: center;")
    %button.button.radius(ng-click="synchronize()")
      = t('platform.worker_nodes.synchronize')
