- action = ScalingAction.create_from_id(scaling_rule.action)
%tr
  %td(style="text-align: center;")
    = action.service_label

  %td(style="text-align: center;")
    = "'#{metric_name_label(scaling_rule.get_metric.attribute)}' on '#{host_label(scaling_rule.get_metric.host)}'"

  %td(style="text-align: center;")
    = scaling_rule.measurement_type
    - if scaling_rule.measurement_type == 'time_window'
      = "= #{scaling_rule.time_window.length} [#{scaling_rule.time_window.length_unit}]"

  %td(style="text-align: center;")
    = scaling_rule.condition

  %td(style="text-align: center;")
    = scaling_rule.threshold
    - if scaling_rule.rule_category == 'trend'
      = '[%]'

  %td(style="text-align: center;")
    = action.action_label

  %td(style="text-align: center;")
    = button_to("Delete", scaling_rules_path(id: scaling_rule.id), method: :delete, class: 'button radius tiny')