.row
  .large-12.columns
    = scaling_rule.id
    \: <b>If</b>&nbsp
    = "'#{metric_name_label(scaling_rule.get_metric.attribute)}'"
    &nbspon&nbsp
    = "'#{host_label(scaling_rule.get_metric.host)}'"
    &nbsp<b>is</b>&nbsp
    = scaling_rule.condition_label
    &nbsp
    = scaling_rule.threshold

    - unless scaling_rule.time_window.nil?
      <b>in last</b>
      = "#{scaling_rule.time_window.length} #{scaling_rule.time_window.length_unit}"
    %br
    &nbsp<b>then</b>&nbsp
    = ScalingAction.create_from_id(scaling_rule.action).to_s
