%section.panel.radius
  %h3= t('scaling_rules.defined_header')
  %hr

  - if @scaling_rules.empty?
    %p
      =t('scaling_rules.zero_defined')
  - else
    %table(width="100%")
      %tr
        %th
          Service
        %th
          Metric
        %th
          Measurement type
        %th
          Condition
        %th
          Threshold
        %th
          Action
        %th
      = render :partial => :scaling_rule, :collection => @scaling_rules

%section.panel.radius(ng-controller='ScalingRulesCtrl')
  %h3= t('scaling_rules.create_header')
  %hr

  .row
    .large-3.columns
      = label_tag(:scaling_rule_category, t('scaling_rules.category_header'), class: 'right')
    .large-3.columns
      = select_tag :scaling_rule_category, options_for_select(scaling_rule_categories_options),
        { 'ng-model' => 'rule_category', 'ng-change' => 'rule_category_listener()' }
    .large-1.columns

  %article#simple_rule_form(ng-show='show_simple_rule_form')
    = render partial: 'simple_rule_form'

  %article#time_window_rule_form(ng-show='show_time_window_rule_form')
    = render partial: 'time_window_rule_form'

  %article#trend_rule_form(ng-show='show_trend_rule_form')
    = render partial: 'trend_rule_form'
